#top {
    position: fixed; width: 50px; height: 50px; right: 50px; bottom: 50px;
    z-index: 999; font-size: 0.85rem;
    text-align: center; line-height: 50px; font-weight: 600;
    border-radius: 50%; background: #222; color: #fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
header {
    height: 60px; background:rgba(255,255,255,0.6);
    position: fixed; width: 100%; left: 0; top: 0; z-index:100;
}
header nav {float: right; padding-right: 60px;}
header nav a {display: inline-block; line-height: 60px; margin-left: 20px;}
#wrap {
    min-width: 1800px;
    height:100vh;
}
#wrap a {background:#000; color: #fff; }
#wrap .swiper-wrapper {}
#wrap .swiper-wrapper .swiper-slide {}
#wrap .swiper-wrapper .swiper-slide h1 {
    font-size: 1.50rem;
    font-weight: 600;
    text-align: center;
    padding-top: 60px;
}
#wrap .swiper-wrapper .intro {background:linear-gradient(#eee, #aaa);}
#wrap .swiper-wrapper .profile {background:#222;}
#wrap .swiper-wrapper .profile h1 {color: #fff;}
#wrap .swiper-wrapper .project1 {background:linear-gradient(#aaa, #eee);}
#wrap .swiper-wrapper .project1 .group {
    position: relative; width: max-content; margin: 0 auto;
}
#wrap .swiper-wrapper .project1 .group .web {
    width: 600px; height: 400px; margin: 30px auto;
}
#wrap .swiper-wrapper .project1 .web .swiper-wrapper {}
#wrap .swiper-wrapper .project1 .web .swiper-wrapper .swiper-slide {}
#wrap .swiper-wrapper .project1 .web .swiper-wrapper .slide1 {
    background: palegreen;
}
#wrap .swiper-wrapper .project1 .web .swiper-wrapper .slide2 {
    background: paleturquoise;
}
#wrap .swiper-wrapper .project1 .web .swiper-wrapper .slide3 {
    background: palevioletred;
}
#wrap .swiper-wrapper .project1 .web .swiper-wrapper .slide4 {
    background: wheat;
}
#wrap .swiper-wrapper .project1 .web .swiper-wrapper .slide5 {
    background: seagreen;
}
#wrap .swiper-wrapper .project1 .web .swiper-wrapper .slide6 {
    background: thistle;
}
#wrap .swiper-wrapper .project1 .web + .web_page {
    /* background-color: antiquewhite; transform: scale(1.5); */
    /* absolute (기본내장) */
    left: -40px; bottom: 20px; text-align: left;
}
#wrap .swiper-wrapper .project1 .web + .web_page span {/* background-color: pink; */}
#wrap .swiper-wrapper .project1 .web + .web_page span.swiper-pagination-current {color:red;}
#wrap .swiper-wrapper .project1 .web + .web_page span.swiper-pagination-total {color:blue;}
#wrap .swiper-wrapper .project2 {background:pink;}
#wrap .swiper-wrapper .project2 h1 {color: #fff;}
#wrap .swiper-wrapper .project2 .group {
    position: relative; width: max-content; margin: 0 auto;
}
#wrap .swiper-wrapper .project2 .group .page {
    top: -20px; bottom: auto;
}
#wrap .swiper-wrapper .project2 .group .page span {}
#wrap .swiper-wrapper .project2 .group .web1 {width: 600px; height: 400px; margin: 30px auto;}
#wrap .swiper-wrapper .project2 .group .web1 .swiper-wrapper {}
#wrap .swiper-wrapper .project2 .group .web1 .swiper-wrapper .swiper-slide {}
#wrap .swiper-wrapper .project2 .group .web1 .swiper-wrapper .swiper-slide:nth-child(odd) {background: palegoldenrod;}
#wrap .swiper-wrapper .project2 .group .web1 .swiper-wrapper .swiper-slide:nth-child(even) {background: paleturquoise;}
#wrap .swiper-wrapper .project2 .web1 .swiper-wrapper .slide1 {}
#wrap .swiper-wrapper .project2 .web1 .swiper-wrapper .slide2 {}
#wrap .swiper-wrapper .project2 .web1 .swiper-wrapper .slide3 {}
#wrap .swiper-wrapper .project2 .web1 .swiper-wrapper .slide4 {}